{
  "bts_rpc": {
    "url": "http://localhost:9999/rpc",
    "username": "",
    "password": ""
  },
  "wallet_name": "",
  "delegate_name": "",
  "payto_account": "",
  "x_amount": 1,
  "x_time_to_send": 11
}
